:root {
  /* ------ Colors ------ */

  /* --- Color Primitives --- */
  /* --- TODO: Color Primitives --- */
  --color-gray-50: ;
  --color-gray-100: ;
  --color-gray-200: ;
  --color-gray-300: ;
  --color-gray-500: ;
  --color-gray-600: ;
  --color-gray-700: #fbfaf9;
  --color-gray-800: ;

  /* --- Color Tokens --- */
  --color-white: #ffffff;
  --color-black: #000000;

  /* --- Color Error Tokens --- */
  --color-error-bg: #fff2f0;
  --color-error-bg-hover: #fff2f0;
  --color-error-border: #ffcdc7;
  --color-error-border-hover: #ffa59e;
  --color-error-hover: #f57571;
  --color-error: #e84646;
  --color-error-active: #c23035;
  --color-error-text-hover: #f57571;
  --color-error-text: #e84646;
  --color-error-text-active: #c23035;

  /* --- Color Primary Tokens --- */
  --color-primary-bg: #626964;
  --color-primary-bg-hover: #565c58;
  --color-primary-border: #4a4f4c;
  --color-primary-border-hover: #3e4240;
  --color-primary-hover: #323634;
  --color-primary: #242926;
  --color-primary-active: #020302;
  --color-primary-text-hover: #323634;
  --color-primary-text: #242926;
  --color-primary-text-active: #020302;

  /* --- Color Secondary Tokens --- */
  --color-secondary-bg: #ffffff;
  --color-secondary-bg-hover: #ffffff;
  --color-secondary-border: #ffffff;
  --color-secondary-border-hover: #ffffff;
  --color-secondary-hover: #f5f5f5;
  --color-secondary: #e8e8e8;
  --color-secondary-active: #c2c2c2;
  --color-secondary-text-hover: #f5f5f5;
  --color-secondary-text: #e8e8e8;
  --color-secondary-text-active: #c2c2c2;

  /* --- Color Accent Tokens --- */
  --color-accent-bg: #e6ffea;
  --color-accent-bg-hover: #9ef7b2;
  --color-accent-border: #71eb8f;
  --color-accent-border-hover: #47de72;
  --color-accent-hover: #21d159;
  --color-accent: #00c444;
  --color-accent-active: #009e3d;
  --color-accent-text-hover: #21d159;
  --color-accent-text: #00c444;
  --color-accent-text-active: #009e3d;

  --color-accent-transparent: rgba(0, 196, 68, 0.5);

  /* ------ Text sizing ------ */
  --font-size-xs: 0.75rem; /* 12px */
  --line-height-xs: 1rem; /* 16px */

  --font-size-sm: 0.875rem; /* 14px */
  --line-height-sm: 1.25rem; /* 20px */

  --font-size-md: 1rem; /* 16px */
  --line-height-md: 1.5rem; /* 24px */

  --font-size-lg: 1.125rem; /* 18px */
  --line-height-lg: 1.75rem; /* 28px */

  --font-size-xl: 1.25rem; /* 20px */
  --line-height-xl: 1.75rem; /* 28px */

  --font-size-2xl: 1.5rem; /* 24px */
  --line-height-2xl: 2rem; /* 32px */

  --font-size-3xl: 1.875rem; /* 30px */
  --line-height-3xl: 2.25rem; /* 36px */

  --font-size-4xl: 2.25rem; /* 36px */
  --line-height-4xl: 2.5rem; /* 40px */

  --font-size-5xl: 3rem; /* 48px */
  --line-height-5xl: 1;

  --font-size-6xl: 3.75rem; /* 60px */
  --line-height-6xl: 1;

  --font-size-7xl: 4.5rem; /* 72px */
  --line-height-7xl: 1;

  --font-size-8xl: 6rem; /* 96px */
  --line-height-8xl: 1;

  --font-size-9xl: 8rem; /* 128px */
  --line-height-9xl: 1;

  /* ------ Misc ------ */
  --border-radius-none: 0px;
  --border-radius-xxs: 2px;
  --border-radius-xs: 4px;
  --border-radius-sm: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
}
